<h2>Doctor:</h2>
<p><%= link_to  @appointment.doctor.name, @appointment.doctor %></p><br>
<h2>Patient:</h2>
<p><%= link_to  @appointment.patient.name, @appointment.patient %></p><br>
<h2>Appintment Time:</h2>
<p><%= link_to  @appointment.time, @appointment.time %></p>